#menu {
    display: none;

    grid-template-areas:
        'title title title'
        'name name start';
}

#name {
    grid-area: name;
}

#join {
    grid-area: start;
    background-color: #d64933ff;
}

#wait {
    display: none;
}

#game {
    /* display: none; */

    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
        'standing standing'
        'stats stats'
        'bank roll';
}

#standing {
    grid-area: standing;

    grid-template-areas:
        'round pot';

    background-color: #D64933;
}

#round {
    grid-area: round;
}

#pot {
    grid-area: pot;
}

#stats {
    grid-area: stats;

    grid-template-areas:
        'player rank'
        'account account';

    background-color: #92DCE5;
}

#player {
    grid-area: player;
}

#rank {
    grid-area: rank;
}

#account {
    grid-area: account;
}

#bank {
    grid-area: bank;
    background-color: gold;
}

#roll {
    grid-area: roll;
    background-color: #7C7C7C;
}

@media only screen and (max-width: 800px) {
    header {
        padding: 20px;
    }

    main {
        padding: 0px 20px;
    }

    #menu {
        grid-template-areas:
            'title'
            'name'
            'start';
    }

    #game {
        grid-template-columns: 1fr;

        grid-template-areas:
            'standing'
            'stats'
            'bank'
            'roll';
    }

    #standing {
        grid-template-areas:
            'round'
            'pot';
    }

    #stats {
        grid-template-areas:
            'player player'
            'rank account';
    }
}