#lobby {
    display: none;

    grid-template-areas:
        'title start'
        'players players';
}

.title {
    grid-area: title;
}

#players {
    grid-area: players;

    background-color: #92DCE5;
    grid-template-columns: repeat(3, 1fr);
}

#start {
    grid-area: start;

    background-color: #d64933ff;
}

#game {
    /* display: none; */
    grid-template-areas:
        'standing'
        'next'
        'leaderboard';
}

#standing {
    grid-area: standing;

    grid-template-areas:
        'round pot';

    background-color: #D64933;
}

#round {
    grid-area: round;
}

#pot {
    grid-area: pot;
}

#turn {
    grid-area: next;
    background-color: #7C7C7C;

    grid-template-areas:
        'next name name name';
}

#name {
    grid-area: name;
}

#leaderboard {
    grid-area: leaderboard;



    grid-template-areas:
        'title';

    background-color: #92DCE5;
}

#player {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    #lobby {
        grid-template-areas:
            'title'
            'players'
            'start';
    }

    #players {
        grid-template-columns: 1fr;
    }

    #standing {
        grid-template-areas:
            'round'
            'pot';
    }

    #turn {
        grid-template-areas:
            'next'
            'name';
    }
}