#lobby {
    grid-template-areas:
        'title start'
        'players players';
}

.title {
    grid-area: title;
}

#players {
    grid-area: players;

    background-color: #92DCE5;
    grid-template-columns: repeat(3, 1fr);
}

#start {
    grid-area: start;

    background-color: #d64933ff;
}

@media only screen and (max-width: 800px) {
    header {
        display: flex;
        justify-content: center;
    }

    main {
        padding: 0px 20px;
    }

    .grid-container {
        max-width: none;
    }

    #lobby {
        grid-template-areas:
            'title'
            'players'
            'start';
    }

    #players {
        grid-template-columns: 1fr;
    }

    .title {
        text-align: center;
    }
}